.detailList{
    display:flex;
}
.detailListItem{
    display:flex;
    justify-content: space-between;
}
#main {
    display: flex;
    flex: 1;
    margin-left:auto;
    margin-right:auto;
  }
  #main > article {
    flex: 1;
    order: 1;
  }
  .cardImage{
      width:10%;
      height:10%;
  }
  .card{
      padding:.5em;
      flex-direction: row;
  }
  .noResults{
      display: flex;
      justify-content: center;
      align-items: center;
      border:0;
  }
  .noResults .card-body{
      font-weight: bold;
  }